.Layer {
    width: 80px;
    height: 100%;
    float: left;
}
.Layer ~ .Layer {
    width: 200px;
}
.Layer > .neurons, .Layer > .synapses {
    height: 100%;
    display: flex;
    flex-direction: column;
    float: left;
}
.Layer > .neurons > * {
    flex-grow: 0;
    flex-shrink: 0;
}
.Layer > .neurons > .padding {
    flex-grow: 1;
}
.Layer > .neurons {
    z-index: 1;
    position: relative;
    width: 80px;
}
.Layer > .synapses {
    position: relative;
    z-index: 0;
    width: 120px;
}
